pin-depends: [
  ["minttea.dev" "git+https://github.com/chshersh/minttea"]
  ["riot.dev" "git+https://github.com/riot-ml/riot"]
  ["shape-the-term.dev" "git+https://github.com/jmcavanillas/shape-the-term"]
]
